body {
  color: white;
  background: #222222;
}
.pixel {
  font-size: 16px;
  background: red;
  display: inline;
}
.percent {
  font-size: 100%;
}
.mm {
  font-size: 20mm;
}
.box {
  /* pixel */
  width: 500px;

  /* percentage */
  /* width: 50%; */

  /* millimeter */
  /* width: 1mm; */

  /* centimeter */
  /* width: 1cm; */

  /* inch */
  /* width: 1in */

  height: 100px;
  background-color: white;
}

.child-box {
  background-color: aqua;
  /* em - relative to parent element */
  width: 20em;
  height: 100px;

  /* rem - relative to root element */
}
