@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* CSS BASIC PROPERTIES */

/* Text Properties */

/* color */
.red {
  color: red;
}

/* Text Transform */
.transform {
  text-transform: uppercase;
  /* Options: uppercase, lowercase, capitalize */
}

/* Line Height */
.line-height {
  line-height: 18px;
  text-align: justify;
}

/* text-align */
h1 {
  text-align: center;
  /* options: left, right, center, justify */
}

/* letter-spacing */
h1 {
  letter-spacing: 10px;
}

/* text-indent */
.line-height {
  text-indent: 50px;
}

/* text-decoration */
h1 {
  text-decoration: underline;
  /* options: underline, overline, line-through */
}

/* Font Properties */
body {
  font-family: sans-serif;
  /* options: serif, sans-serif, monospace, cursive, fantasy */
}
/* custom fonts */
h1 {
  /* font-family */
  font-family: "Space Grotesk", sans-serif;

  /* font-size */
  font-size: 45px;

  /* font-weight */
  font-weight: bold;
  /* options: normal, semi-bold, bold, bolder, black, 100, 200, 300, ..... 900 */

  /* font-style */
  font-style: normal;
  /* options: normal, italic, oblique */
}
