body {
  background: #222222;
  color: whitesmoke;
}
h1 {
  text-align: center;
}
.parent {
  width: 1144px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 120px 120px 120px 120px 120px;
  grid-template-columns: 120px 120px 120px 120px;
  gap: 10px;
}
.child {
  width: 100%;
  /* border: 1px solid #000; */
  /* height: 75px; */
  font-size: 65px;
  background-color: palevioletred;
}
.child-1 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
